$black_box: #222222;
$width_site: 1140px;
$selectivePink: #F16D7F;
$displayFlexAlignItems: center;


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - $width_site / 2);
    padding-right: calc(50% - $width_site / 2);
}

.header {
    min-height: 75px;
    max-width: 1600px;
    background: $black_box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        align-items: baseline;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }

    label {
        cursor: pointer;
    }

    #header__check {
        display: none;
    }

    #header__check:checked~.mobile-menu {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        top: 75px;
        right: 5%;
        z-index: 2;
        background: #fff;

        padding: 32px 74px 32px 32px;

        &__heading {
            color: #000;
            font-size: 14px;
            font-family: Lato;
            font-weight: 700;
        }

        &__title {
            display: block;
            margin: 24px 0 12px 0;

            color: #F16D7F;
            font-size: 14px;
            font-family: Lato;
        }

        &__list {
            padding-left: 20px;

            list-style: none;
            display: grid;
            gap: 11px;

            color: #6F6E6E;
            font-size: 14px;
            font-family: Lato;
        }
    }
}

.top-head {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__heading {
        color: $selectivePink;
        font-size: 24px;
        font-weight: 400;
        word-wrap: break-word
    }
}

div {
    display: flex;
}

.main__box {
    padding-top: 96px;
    display: flex;
    gap: 128px;
    padding-bottom: 128px;

    .cart__box {

        display: flex;
        gap: 40px;
        flex-direction: column;

        .item__cart {
            display: flex;
            align-items: center;
            box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
            width: 652px;

            .text__item__box {
                display: flex;
                flex-direction: column;
            }

            &__img {
                max-width: 262px;
                max-height: 306px;
                margin-right: 32px;
            }

            &__title {
                color: #222;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                max-width: 262px;
                font-size: 24px;
                margin-bottom: 42px;
            }

            &__description {
                list-style: none;

                .features {
                    display: flex;
                    color: #575757;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    align-items: baseline;
                    margin-bottom: 6px;

                    &__pink {
                        color: $selectivePink;
                    }

                    &__grey {
                        color: #6F6E6E;
                    }

                    #item__quantity {
                        width: 44px;
                        height: 25px;
                        border-width: 1px;
                        border-color: #EAEAEA;
                        border-style: solid;
                        text-align: center;
                        color: #656565;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        margin-left: 24px;
                    }
                }
            }

            .vector__close {
                height: 306px;
                padding-top: 28px;
                margin-left: 57px;
                padding-right: 24px;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
        }

        .item__cart__button {
            padding: 16px 41px 17px 39px;

            color: #000;
            font-size: 14px;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            background-color: #FFFFFF;
            border: 1px solid #A4A4A4;

            display: flex;
            flex-wrap: nowrap;

            cursor: pointer;

            &:hover {
                background-color: #F16D7F;
                color: #fff;
                transition: .3s;
            }
        }
    }

    .adress__form {
        .form__title {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
        }

        .input__box {
            width: 360px;
            height: 45px;
            flex-shrink: 0;
            margin-bottom: 20.5px;
        }

        .input__box {
            padding-left: 17.24px;
            color: #B1B1B1;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .form__button {
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            background-color: #fff;
            border: 1px solid #A4A4A4;
            padding: 10px 12px;
            width: 102px;
            cursor: pointer;
        }
    }

    .total__box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 57px;
        padding: 39px 37px 42px 44px;
        background-color: #F5F3F3;

        &__subtotal {
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__subtotal::after {
            content: '$900';
            padding-left: 25px;
            color: #4A4A4A;
        }

        &__total {
            margin-top: 12px;
            margin-bottom: 21px;
            margin-right: 5px;

            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__total::after {
            content: '$900';
            padding-left: 25px;
            color: $selectivePink;
        }

        &__line {
            width: 275px;
            border-bottom: 1px solid #E2E2E2;
        }

        &__button {
            width: 273px;
            padding: 15px 0 16px;
            margin-top: 17px;
            margin-bottom: 42px;
            margin-right: 10px;
            border: none;
            background-color: $selectivePink;
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            cursor: pointer;
        }
    }
}

.footer {
    .subscribe {
        background-image: url(./img/footer/background.svg);
        height: 448px;
        background-repeat: no-repeat;
        background-size: cover;

        &__background {
            padding-top: 64px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: $displayFlexAlignItems;
            justify-content: center;
            flex-direction: row;
            gap: 327px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: $displayFlexAlignItems;
        }

        .img__info {
            width: 96px;
            height: 96px;
            flex-shrink: 0;
            margin-bottom: 30px;
        }

        &__info__text {
            color: #222224;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 359.449px;
            height: 99px;
            flex-shrink: 0;
        }

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__headings {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: $displayFlexAlignItems;
        }

        &__title {
            color: #222224;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 167.2%;
        }

        &__subtitle {
            color: #222224;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 167.2%;
            margin-bottom: 32px;
        }

        .input_form {
            display: flex;
        }

        .email_input {
            width: 256px;
            height: 49px;
            flex-shrink: 0;
            border-radius: 30px 0px 0px 30px;
            padding-left: 22px;
            padding-right: 30px;
            fill: #E1E1E1;
            border: none;
        }

        .input_line_button {
            width: 100px;
            height: 49px;
            background-color: $selectivePink;
            border-radius: 0px 30px 30px 0px;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: 1px solid $selectivePink
        }
    }

    .references {
        height: 79px;
        background-color: #222224;
        display: flex;
        gap: 655px;
        justify-content: center;
        align-items: $displayFlexAlignItems;

        &__info {
            color: #FBFBFB;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__links {
            display: flex;
            gap: 7.29px;
        }

        .social__media {
            width: 31.451px;
            height: 32px;
            border: none;
        }
    }
}