$black_box: #222222;
$width_site: 1140px;
$selectivePink: #F16D7F;
$displayFlexAlignItems: center;


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - $width_site / 2);
    padding-right: calc(50% - $width_site / 2);
}

.header {
    min-height: 75px;
    background: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: $displayFlexAlignItems;

    &__left {
        display: flex;
        align-items: $displayFlexAlignItems;
        gap: 42px;
    }

    &__right {
        display: flex;
        align-items: $displayFlexAlignItems;
        gap: 33px;
    }

    &__dropdown {
        position: absolute;
        visibility: hidden;
        left: -9999999px;
    }

    &__dropdown:checked~.mobile__menu {
        right: 0;
    }

    .mobile__menu {
        position: absolute;
        top: 75px;
        right: -232px;
        z-index: 1;
        transition: right 0.6s;
        width: 232px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 32px;
        box-sizing: border-box;

        &__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }

        &__box {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 24px;

            .mobile__menu__title {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $selectivePink;
            }

            .mobile__menu__list {
                list-style-type: none;
                padding-left: 21px;
                display: flex;
                flex-direction: column;
                gap: 11px;
                margin-top: 12px;

                .mobile__menu__link {
                    align-items: center;
                    justify-content: space-around;
                    padding: 8px;
                    border-radius: 10px;
                    margin-bottom: 24px;
                    color: #6F6E6E;
                }

                .mobile__menu__link:hover {
                    color: $selectivePink;
                }
            }
        }
    }

}

.top__head {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__heading {
        color: $selectivePink;
        font-size: 24px;
        font-weight: 400;
        word-wrap: break-word
    }
}

.registration {
    display: flex;
    flex-direction: row;
    gap: 128.51px;
    padding-top: 64px;
    padding-bottom: 96px;

    &__form {
        display: flex;
        flex-direction: column;

        .registration__inputs {
            display: flex;
            flex-direction: column;
            gap: 20.5px;
        }

        &__title {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .placeholder {
            color: #B1B1B1;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .input__form {
            width: 360px;
            height: 45px;
            border: 0.5px solid #a4a4a4;
            padding-left: 16.73px;
        }

        &__text {
            margin-top: 15px;
            margin-bottom: 39px;
            color: #B1B1B1;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        .registration__checkboxes {
            margin-top: 31px;
            margin-bottom: 33px;

            display: flex;
            gap: 20px;
        }

        .registration__checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        #checkbox3~label {
            visibility: hidden;
        }

        .registration__label {
            color: #000;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        .registration__label::before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;


            border: 1px solid #A4A4A4;
            border-radius: 50%;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        .registration__checkbox:checked+label::before {
            border-color: $selectivePink;
            background-color: $selectivePink;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        &__button {
            padding: 16px 0;
            width: 167px;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            color: #FFF;
            background-color: #F16D7F;
            border: none;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            cursor: pointer;
        }
    }

    &__loyalty {

        &__title,
        &__text,
        &__li {
            padding-bottom: 22px;
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__li::before {
            content: url(img/Vector-2.svg);
            padding-right: 23.08px;
        }
    }
}

.footer {
    .subscribe {
        background-image: url(./img/footer/background.svg);
        height: 448px;
        background-repeat: no-repeat;
        background-size: cover;

        &__background {
            padding-top: 64px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: $displayFlexAlignItems;
            justify-content: center;
            flex-direction: row;
            gap: 327px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: $displayFlexAlignItems;
        }

        .img__info {
            width: 96px;
            height: 96px;
            flex-shrink: 0;
            margin-bottom: 30px;
        }

        &__info__text {
            color: #222224;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 359.449px;
            height: 99px;
            flex-shrink: 0;
        }

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__headings {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: $displayFlexAlignItems;
        }

        &__title {
            color: #222224;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 167.2%;
        }

        &__subtitle {
            color: #222224;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 167.2%;
            margin-bottom: 32px;
        }

        .input_form {
            display: flex;
        }

        .email_input {
            width: 256px;
            height: 49px;
            flex-shrink: 0;
            border-radius: 30px 0px 0px 30px;
            padding-left: 22px;
            padding-right: 30px;
            fill: #E1E1E1;
            border: none;
        }

        .input_line_button {
            width: 100px;
            height: 49px;
            background-color: $selectivePink;
            border-radius: 0px 30px 30px 0px;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: 1px solid $selectivePink
        }
    }

    .references {
        height: 79px;
        background-color: #222224;
        display: flex;
        gap: 655px;
        justify-content: center;
        align-items: $displayFlexAlignItems;

        &__info {
            color: #FBFBFB;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__links {
            display: flex;
            gap: 7.29px;
        }

        .social__media {
            width: 31.451px;
            height: 32px;
            border: none;
        }
    }
}

@import 'media1024Main';
// @import 'media767Main';