$black_box: #222222;
$width_site: 1140px;
$selectivePink: #F16D7F;
$displayFlexAlignItems: center;


* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - $width_site / 2);
    padding-right: calc(50% - $width_site / 2);
}

.header {
    min-height: 75px;
    background: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: $displayFlexAlignItems;

    &__left {
        display: flex;
        align-items: $displayFlexAlignItems;
        gap: 42px;
    }

    &__right {
        display: flex;
        align-items: $displayFlexAlignItems;
        gap: 33px;
    }

    &__dropdown {
        position: absolute;
        visibility: hidden;
        left: -9999999px;
    }

    &__dropdown:checked~.mobile__menu {
        right: 0;
    }

    .mobile__menu {
        position: absolute;
        top: 75px;
        right: -232px;
        z-index: 1;
        transition: right 0.6s;
        width: 232px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 32px;
        box-sizing: border-box;

        &__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }

        &__box {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 24px;

            .mobile__menu__title {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: $selectivePink;
            }

            .mobile__menu__list {
                list-style-type: none;
                padding-left: 21px;
                display: flex;
                flex-direction: column;
                gap: 11px;
                margin-top: 12px;

                .mobile__menu__link {
                    align-items: center;
                    justify-content: space-around;
                    padding: 8px;
                    border-radius: 10px;
                    margin-bottom: 24px;
                    color: #6F6E6E;
                }

                .mobile__menu__link:hover {
                    color: $selectivePink;
                }
            }
        }
    }

}

.top__head {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__heading {
        color: $selectivePink;
        font-size: 24px;
        font-weight: 400;
        word-wrap: break-word
    }
}

.product {
    padding-top: 96px;
    display: flex;
    gap: 128px;
    padding-bottom: 128px;

    &__cards {
        display: flex;
        gap: 40px;
        flex-direction: column;

        .product__card {
            display: flex;
            align-items: center;
            box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));

            &__img {
                max-width: 262px;
                max-height: 306px;
                margin-right: 32px;
            }

            &__info {
                display: flex;
                flex-direction: column;
                margin-right: 57px;

                &__title {
                    color: #222;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    max-width: 262px;
                    margin-bottom: 42px;
                }

                &__description {
                    list-style: none;
                    padding: 0;

                    .features {
                        display: flex;
                        color: #575757;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        align-items: baseline;
                        margin-bottom: 6px;

                        &__pink {
                            color: $selectivePink;
                        }

                        &__grey {
                            color: #6F6E6E;
                        }

                        #item__quantity_1,
                        #item__quantity_2 {
                            width: 44px;
                            height: 25px;
                            border-width: 1px;
                            border-color: #EAEAEA;
                            border-style: solid;
                            text-align: center;
                            color: #656565;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            margin-left: 24px;
                        }
                    }
                }
            }

            .vector__close {
                display: flex;
                border: none;
                background-color: white;
                height: 278px;
                padding-top: 28px;
                margin-left: 57px;
                margin-right: 22px;
            }
        }

        .product__buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 32px;

            .product__button {
                padding: 16px 41px 17px 39px;

                color: #000;
                font-size: 14px;
                font-family: Lato;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-transform: uppercase;

                background-color: #FFFFFF;
                border: 1px solid #A4A4A4;

                display: flex;
                flex-wrap: nowrap;

                cursor: pointer;

                &:hover {
                    background-color: #F16D7F;
                    color: #fff;
                    transition: .3s;
                }
            }
        }
    }

    .product__order__info {
        display: flex;
        flex-direction: column;
        gap: 57px;

        .adress__form {
            padding-top: 22px;
            display: flex;
            flex-direction: column;

            &__title {
                color: #222;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            &__input {
                box-sizing: border-box;
                padding: 13px 0 16px 17.14px;
                border: 1px solid #A4a4a4;
                margin-top: 20.5px;

                &__input::placeholder {
                    color: #222;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }

            &__button {
                color: #4A4A4A;
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                padding: 10px 12px;
                width: 102px;
                background-color: #fff;
                border: 1px solid #A4A4A4;
                margin-top: 23.5px;

                cursor: pointer;
            }

            &__button:hover {
                color: #fff;
                background-color: $selectivePink;
                border: 1px solid $selectivePink;
            }
        }

        .product__paybox {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 39px 37px 42px 44px;
            background-color: #F5F3F3;

            &__subtotal {
                color: #4A4A4A;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &__subtotal::after {
                content: '$900';
                padding-left: 25px;
                color: #4A4A4A;
            }

            &__total {
                margin-top: 12px;
                margin-bottom: 21px;
                margin-right: 5px;
                color: #222;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }

            &__total::after {
                content: '$900';
                padding-left: 25px;
                color: $selectivePink;
            }

            &__line {
                width: 275px;
                border-bottom: 1px solid #E2E2E2;
            }

            &__button {
                width: 273px;
                padding: 15px 0 16px;
                margin-top: 17px;
                margin-right: 10px;
                margin-bottom: 42px;
                border: none;
                background-color: $selectivePink;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;

                cursor: pointer;
            }
        }
    }

}

.footer {
    .subscribe {
        background-image: url(./img/footer/background.svg);
        height: 448px;
        background-repeat: no-repeat;
        background-size: cover;

        &__background {
            padding-top: 64px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: $displayFlexAlignItems;
            justify-content: center;
            flex-direction: row;
            gap: 327px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: $displayFlexAlignItems;
        }

        .img__info {
            width: 96px;
            height: 96px;
            flex-shrink: 0;
            margin-bottom: 30px;
        }

        &__info__text {
            color: #222224;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 359.449px;
            height: 99px;
            flex-shrink: 0;
        }

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__headings {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: $displayFlexAlignItems;
        }

        &__title {
            color: #222224;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 167.2%;
        }

        &__subtitle {
            color: #222224;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 167.2%;
            margin-bottom: 32px;
        }

        .input_form {
            display: flex;
        }

        .email_input {
            width: 256px;
            height: 49px;
            flex-shrink: 0;
            border-radius: 30px 0px 0px 30px;
            padding-left: 22px;
            padding-right: 30px;
            fill: #E1E1E1;
            border: none;
        }

        .input_line_button {
            width: 100px;
            height: 49px;
            background-color: $selectivePink;
            border-radius: 0px 30px 30px 0px;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: 1px solid $selectivePink
        }
    }

    .references {
        height: 79px;
        background-color: #222224;
        display: flex;
        gap: 655px;
        justify-content: center;
        align-items: $displayFlexAlignItems;

        &__info {
            color: #FBFBFB;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__links {
            display: flex;
            gap: 7.29px;
        }

        .social__media {
            width: 31.451px;
            height: 32px;
            border: none;
        }
    }
}

@import 'media1024Main';